div.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 40px;
}

div.header h3 {
  margin: 15px 50px;
  cursor: pointer;
}

div.About {
  margin: 50px 0px 25px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.About h1 {
  color: #614059;
}

div.About p {
  color: black
}

div.Projects {
  margin: 25px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.Experience {
  margin: 25px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.Contact {
  margin: 25px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.spread {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.spread div {
  margin: 15px;
}